<div id="answer-list-container">
  <% if(questionData.answers != null && questionData.answers.length > 0 ){ %>
    <% for (var i = questionData.answers.length - 1; i >= 0 ; i--) { %>
      <hr>
      <div class="blog-post">
        <p><%= questionData.answers[i].text %></p>
        <p class="blog-post-meta"><%= timeagoInstance.format(questionData.answers[i].createdDate, 'mn') %> by
          <a href="#">
            <% if(questionData.answers[i].user != null){ %>
              <%= questionData.answers[i].user.fb.displayName %>
            <% }else{ %>
              anonymous
            <% } %>
          </a></p>
      </div>
    <% } %>
  <% } %>
</div>
