<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">asuu.me</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">


    <div class="container-fluid">

      <div class="row justify-content-end">

        <div >
          <form id="search-form" action="/search" class="form-inline my-2 my-lg-0" method="post">
            <input id="search-input" name="search-input" class="form-control mr-sm-2" type="text" placeholder="<%= __('Search')%>" aria-label="Search"/>
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><%= __('Search') %></button>
          </form>


          <input type="hidden" id="current-user-id" name="current-user-id" value="<% if(user == 'anonymous'){ %>anonymous<% }else{ %><%= user._id %><% } %>"/>
            <% if(user == 'anonymous'){ %>
              <!-- <a href="/auth/facebook/?url=" id="login-btn-anchor" class="btn btn-outline-light my-2 my-sm-0">Login</a> -->
            <% }else{ %>

              <!-- <div class="btn-group"> -->
                <!-- <button class="btn btn-outline-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
                  <%# <%= user.displayName %> %>
                <!-- </button> -->
                <!-- <div class="dropdown-menu"> -->
                  <!-- <a class="dropdown-item" href="/profile">Profile</a>
                  <div class="dropdown-divider"></div> -->
                  <!-- <a class="dropdown-item" href="/logout">Sign out</a> -->
                <!-- </div> -->
              <!-- </div> -->

            <% } %>
        </div>
      </div>




  </div>
  </div>
</nav>
