<div class="sidebar-module">
  <h4>Related</h4>
  <ol class="list-unstyled">
    <% if(relatedQuestions != null){ %>
      <% for (var i = 0; i < relatedQuestions.length; i++) { %>
        <li><a href="#"><a href="/questions/<%= relatedQuestions[i]._id %>"><%= relatedQuestions[i].text %></a></li>

        <% } %>
    <% } %>
  </ol>
</div>
