<!doctype html>
<html>
  <head>
    <%- include('partials/head') %>
    <!-- Custom styles  -->
    <link href="/public/css/home.css" rel="stylesheet">
  </head>

  <body>

    <%- include('partials/navbar.ejs') %>

    <main role="main" class="container">

      <div class="row">
          <div class="col-lg-12">

          </div>
      </div>

    </main><!-- /.container -->

    <%- include('partials/footer') %>
    <%- include('partials/embedded-scripts') %>
  </body>
</html>
