extends layout

block content
  div(class="login")
    img(src="/public/images/icon.png")
    br()
    a(href="/auth/facebook")
      div(class="btn" id="login-btn")
        img(src="/public/images/FB-f-Logo__white_29.png" alt="facebook logo")
        p() LOGIN WITH FACEBOOK
