
/* Globals
-------------------------------------------------- */

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
  color: #555;
  margin-bottom: 60px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

body > .container {
  padding: 0 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.answer-divider {
  margin-top: 4rem;
}

code {
  font-size: 80%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

  /* Sticky footer styles
-------------------------------------------------- */
html {
  min-height: 100%;
  position: relative;
}

.footer {
  background-color: #f5f5f5;
  bottom: 0;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  position: absolute;
  width: 100%;
}

/* Main styles
-------------------------------------------------- */
.line-scale > div {
  height: 1rem;
}

.user-info-container {
  /* margin-left: 10px; */
}

#search-form {
  display: inline-block;
}

.votecell {
  padding-right: 15px;
  vertical-align: top;

}

.votecell .vote {
  min-width: 46px;
  text-align: center;
  width: 4%;
}

.vote {
  text-align: left;
}

.vote-up-off, .vote-up-on, .vote-down-off, .vote-down-on, .star-on, .star-off {
  height: 30px;
}

.vote-button {
  display: block;
}

.vote-button img {
  width: 25px;
}

.vote-count-post {
  color: #999;
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.vote-button .top img {
  margin: 0 0 10px 0;
}

.vote-button .bottom img {
  margin: 10px 0 0 0;
}
