
/* Globals
-------------------------------------------------- */

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
  color: #555;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-bottom: 60px;
}

body > .container {
  padding: 0 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.answer-divider {
  margin-top: 4rem;
}

code {
  font-size: 80%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333;
}

  /* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/* Main styles
-------------------------------------------------- */
.line-scale > div {
  height: 1rem;
}

.user-info-container {
  /* margin-left: 10px; */
}

#search-form {
   display: inline-block; 
}
