.starter-template {
  padding: 2rem 1.5rem;
  text-align: center;
}

.load-more-container {
  margin-top: 1.5rem;
}
.question-votes-container {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */

  display: flex;
  align-items: center;
}

.question-stat {

}

.question-nav-container {
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem; 
}

@media (max-width: 576px) {
  .question-stat-container {

  }
  .question-container-home {
    margin-top: 5%;
  }
}

@media (max-width: 768px) {
  .question-stat-container {
    background-color: #eaf4ff;
  }
  .question-container-home {
    margin-top: 3%;
  }
}
