/*
 * Globals
 */

.container {
  max-width: 60rem;
}

/*
 * Main question
 */

.blog-header {
  border-bottom: .05rem solid #eee;
  margin-bottom: 2rem;
  padding-bottom: 1.25rem;
}

.blog-title {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0;
}

.blog-description {
  color: #999;
  font-size: 1.1rem;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}


/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
}

.sidebar-module-inset {
  background-color: #f5f5f5;
  border-radius: .25rem;
  padding: 1rem;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

/*
 * Posts
 */

.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.question-operation-container {
  text-align: right;
}

.question-operation-container img {
  width: 30px;
}

.login-fb-popover {
  color: #3B5998;
}

.question-detail-table {
  width: 100%;
}

.question-user-detail-container {
  text-align: right;
}

.question-detail-inner-table {
  width: 100%;
}
