/*
 * Sidebar
 */

.sidebar {
  border-right: 1px solid #eee;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  padding: 20px 0;
  position: fixed;
  top: 51px;
  z-index: 1000;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.number-circle {
  behavior: url(PIE.htc); /* remove if you don't care about IE8 */
  background: #fff;
  border: 0.1em solid #666;
  border-radius: 50%;
  color: #666;
  font-size: 5vw;
  height: 10vw;
  padding: 0.25em;
  text-align: center;
  width: 10vw;
}
